---
title: Chat de desarrollo
isFullScreen: true
---
<% if (isChatEnabled) { %>
    <iframe width="100%" height="100%" scrolling="no" src="https://widget.mibbit.com/?settings=cb168ddded4149bea255750ee7feda86&server=irc.Mibbit.Net&channel=%23StepManiaAMX"></iframe>
<% } else { %>
    <div class="formdetails well">
        <p>Hola, contamos con 2 chats diferentes para resolver tus dudas:</p>
        <ul>
            <li>
                <a href="//rhythm-amx.slack.com">Slack</a>
                <small>[<a href="<%= localizedUrl('slack-invite', locale) %>">Solicitar Invitación</a>]</small>
                <small>[<a href="//rhythm-amx.slack.com/downloads">Descargar</a>]</small>
                - Aquí platicamos sobre creación de contenido y discutimos sobre futuras características, el tiempo de respuesta esperado es de 2 o 3 días.
            </li>
            <li>
                <a href="//www.facebook.com/messages/StepManiaAMX">Facebook Messenger</a>
                - Aquí recibirás atención personalizada, sin embargo, el tiempo de respuesta puede tomar 1 o 2 semanas.
            </li>
        </ul>
    </div>
<% } %>
