---
dependencies:
    css:
        - /css/prettyPhoto.min.css
    js:
        - /js/jquery.prettyPhoto.min.js
displayHero:
    header: true
    footer: true
useDefaultContainer: false
useVideoBackground: true
---
<div class="service block">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="page-title text-center">
                    <h3>Pionera en Características</h3>
                    <p>Desde su primera versión en 2008, StepMania AMX se ha caracterizado por ser la primera en implementar características que mejoran la jugabilidad.
                        Dichas características han influenciado a la versión oficial de <a href="https://www.stepmania.com">StepMania</a>, así como juegos comerciales
                        creados con la versión oficial de StepMania, algunos ejemplos son <a href="https://pulsengame.com">Pulsen</a> y <a href="https://www.facebook.com/piuinfinity">Pump It Up Infinity</a>.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="service-item">
                    <img src="/img/features/split_timing.png" alt="Split Timing" class="img-responsive" />
                    <h4>Split Timing</h4>
                    <p>Permite tener cambios de BPM, Attacks, etc., dentro de diferentes dificultades en una misma canción.</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="service-item">
                    <img src="/img/features/tickcount.png" alt="Tickcount" class="img-responsive" />
                    <h4>Tickcount</h4>
                    <p>Permite que las HoldNotes aumenten combo y puntuación, tal y como lo hacen juegos como Pump It Up.</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="service-item">
                    <img src="/img/features/speed_segments.png" alt="Speed Segments" class="img-responsive" />
                    <h4>Speed Segments</h4>
                    <p>Permite que las flechas se expandan y contraigan para lograr efectos visuales llamativos.</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="service-item">
                    <img src="/img/features/fake_areas.png" alt="Fake Areas" class="img-responsive" />
                    <h4>Fake Areas</h4>
                    <p>Permite ignorar los pasos, al utilizarse en conjunto con cambios de BPM negativo se pueden lograr efectos visuales complejos.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="service-item">
                    <img src="/img/features/multiple_difficulties.png" alt="" class="img-responsive" />
                    <h4>Varias dificultades por modo</h4>
                    <p>Permite combinar la escala antigua (Normal, Hard, Crazy), con la escala moderna (Single XX).</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="service-item">
                    <img src="/img/features/ksf.png" alt="" class="img-responsive" />
                    <h4>Soporte de KSF (KIU y DirectMove)</h4>
                    <p>Permite leer pasos diseñados para los simuladores coreanos <a href="https://rigvedawiki.net/r1/wiki.php/Kick%20it%20up">Kick It Up</a> y <a href="https://dm.zsoo.net/pc/download">DirectMove</a>.</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="service-item">
                    <img src="/img/features/ucs.png" alt="" class="img-responsive" />
                    <h4>Soporte de UCS</h4>
                    <p>Permite leer pasos personalizados por el usuario (<a href="https://piugame.com/ucs/00_ucs_intro/ucs_intro1.html">UCS</a>), de juegos oficiales a partir de Fiesta Ex.</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="service-item">
                    <img src="/img/features/multiple_players.png" alt="" class="img-responsive" />
                    <h4>Varios jugadores por dificultad</h4>
                    <p>Permite diseñar pasos utilizando colores para diferenciar entre jugadores.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="shots block">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="screenshot">
                    <img src="/img/displays/crt.png" alt="image" class="img-responsive"/>
                </div>
            </div>
            <div class="col-md-6">
                <div class="shotcontent">
                    <h3>Editor clásico: Mejorado</h3>
                    <p class="shot-para">El mismo editor que se estrenó con StepMania 3.9 hace más de 10 años, con mejoras pensadas en facilitar la vida de los artistas de pasos. Sin cambios abruptos en la usabilidad.</p>
                    <hr>
                    <div class="row">
                        <div class="col-md-6 col-xs-6">
                            <div class="shot-content-body">
                                <h4><i class="fa fa-align-justify tblue"></i> Timing Menu</h4>
                                <p>Presiona F3 para acceder a un nuevo menú que te permite ajustar BPMs, Stops, Speeds, etc. de manera sencilla.</p>
                            </div>
                        </div>
                        <div class="col-md-6 col-xs-6">
                            <div class="shot-content-body">
                                <h4><i class="fa fa-arrows tblue"></i> Hotkeys Mejoradas</h4>
                                <p>Puedes usar Ctrl + Inicio/Fin para cambiar la velocidad a 1 y 4, o Ctrl + RePag/AvPag para ajustar la velocidad a la mitad/doble.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-6 col-md-push-6">
                <div class="screenshot">
                    <img src="/img/displays/lcd.png" alt="image" class="img-responsive"/>
                </div>
            </div>
            <div class="col-md-6 col-md-pull-6">
                <div class="shotcontent second">
                    <h3>Motor Modernizado</h3>
                    <p class="shot-para">Aunque el código fuente de StepMania 3.9 es de hace más de una década, las piezas fundamentales del motor han sido modernizadas para funcionar por 10 años más.</p>
                    <hr>
                    <div class="row">
                        <div class="col-md-6 col-xs-6">
                            <div class="shot-content-body">
                                <h4><i class="fa fa-video-camera tblue"></i> Soporte de Video</h4>
                                <p>Lee sin problemas formatos modernos como MP4 o WEBM, así como formatos oficiales como MOV (Exceed a NXA).</p>
                            </div>
                        </div>
                        <div class="col-md-6 col-xs-6">
                            <div class="shot-content-body">
                                <h4><i class="fa fa-windows tblue"></i> Direct3D 9.0c</h4>
                                <p>Utiliza el juego con tarjetas gráficas fabricadas desde 2003 sin preocuparte por la compatibilidad.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-6">
                <div class="screenshot">
                    <img src="/img/displays/surface.png" alt="image" class="img-responsive"/>
                </div>
            </div>
            <div class="col-md-6">
                <div class="shotcontent third">
                    <h3>Controles táctiles</h3>
                    <p class="shot-para">No tienes que esperar al futuro para disfrutar del juego en tabletas y equipos con pantallas táctiles. StepMania AMX funciona en equipos táctiles con procesador Intel y Windows 8 o superior.</p>
                    <hr>
                    <div class="row">
                        <div class="col-md-6 col-xs-6">
                            <div class="shot-content-body">
                                <h4><i class="fa fa-asterisk tblue"></i> Cualquier estilo</h4>
                                <p>No importa si es PIU, DDR, o Pop n' Music, si StepMania 3.9 lo soporta, puedes agregarle controles táctiles.</p>
                            </div>
                        </div>
                        <div class="col-md-6 col-xs-6">
                            <div class="shot-content-body">
                                <h4><i class="fa fa-hand-o-up tblue"></i> Retrocompatible</h4>
                                <p>En caso de que tengas una pantalla táctil para sistemas operativos anteriores a Windows 8 (ej. Elo Touch), puedes utilizarla si ésta envía clicks.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-6 col-md-push-6">
                <div class="screenshot">
                    <img src="/img/displays/piu_gx.png" alt="image" class="img-responsive"/>
                </div>
            </div>
            <div class="col-md-6 col-md-pull-6">
                <div class="shotcontent second">
                    <h3>Soporte para Hardware Oficial</h3>
                    <p class="shot-para">No necesitas cortar cables y soldar el tapete a un gamepad. StepMania AMX detecta correctamente el hardware oficial (MK6 en adelante).</p>
                    <hr>
                    <div class="row">
                        <div class="col-md-6 col-xs-6">
                            <div class="shot-content-body">
                                <h4><i class="fa fa-cog tblue"></i> libusb-win32</h4>
                                <p>Instala este driver a la PIUIO, y StepMania AMX se hace cargo del resto, ¡Sin configuración inicial!</p>
                            </div>
                        </div>
                        <div class="col-md-6 col-xs-6">
                            <div class="shot-content-body">
                                <h4><i class="fa fa-ban tblue"></i> Sin CoinMode</h4>
                                <p>StepMania AMX es un juego de fans para fans, si tu objetivo es lucrar, usa StepMania 5.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
    </div>
</div>

<div class="gallery block">
    <div class="container">
        <div class="page-title text-center">
            <h3>Galería</h3>
            <p>Si aún no te has convencido, estos son algunos videos de StepMania AMX.</p>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="gallery-item">
                    <div class="gallery-image">
                        <a href="//www.youtube.com/watch?v=FzKBEdJxtiY&width=1024&height=768" class="prettyphoto"><span class="img-hover"> <i class="fa fa-search"></i> </span><img src="//img.youtube.com/vi/FzKBEdJxtiY/0.jpg" alt="" class="img-responsive" /></a>
                    </div>
                    <div class="gallery-content">
                        <h4>Gameplay Video</h4>
                        <p>Yak Won - Lucid (PIU Edit)</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="gallery-item">
                    <div class="gallery-image">
                        <a href="//www.youtube.com/watch?v=PQ-_v1E5VSI&width=1024&height=768" class="prettyphoto"><span class="img-hover"> <i class="fa fa-search"></i> </span><img src="//img.youtube.com/vi/PQ-_v1E5VSI/0.jpg" alt="" class="img-responsive" /></a>
                    </div>
                    <div class="gallery-content">
                        <h4>Gameplay Video</h4>
                        <p>[QC414] Banya Production - Pumping Jumping</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="gallery-item">
                    <div class="gallery-image">
                        <a href="//www.youtube.com/watch?v=BeRE94Bvo-k&width=1024&height=768" class="prettyphoto"><span class="img-hover"> <i class="fa fa-search"></i> </span><img src="//img.youtube.com/vi/BeRE94Bvo-k/0.jpg" alt="" class="img-responsive" /></a>
                    </div>
                    <div class="gallery-content">
                        <h4>Gameplay Video</h4>
                        <p>[QH299] msgoon - msgoon RMX pt. 6</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="gallery-item">
                    <div class="gallery-image">
                        <a href="//www.youtube.com/watch?v=LZ0DiqZoWhE&width=1280&height=720" class="prettyphoto"><span class="img-hover"> <i class="fa fa-search"></i> </span><img src="//img.youtube.com/vi/LZ0DiqZoWhE/0.jpg" alt="" class="img-responsive" /></a>
                    </div>
                    <div class="gallery-content">
                        <h4>Gameplay Video</h4>
                        <p>Crash - Dignity</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="gallery-item">
                    <div class="gallery-image">
                        <a href="//www.youtube.com/watch?v=bF8uAbfjRxQ&width=1280&height=720" class="prettyphoto"><span class="img-hover"> <i class="fa fa-search"></i> </span><img src="//img.youtube.com/vi/bF8uAbfjRxQ/0.jpg" alt="" class="img-responsive" /></a>
                    </div>
                    <div class="gallery-content">
                        <h4>Touch Gameplay Video</h4>
                        <p>Varias Canciones</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="gallery-item">
                    <div class="gallery-image">
                        <a href="//www.youtube.com/watch?v=_pH1_5JwHnk&width=1280&height=720" class="prettyphoto"><span class="img-hover"> <i class="fa fa-search"></i> </span><img src="//img.youtube.com/vi/_pH1_5JwHnk/0.jpg" alt="" class="img-responsive" /></a>
                    </div>
                    <div class="gallery-content">
                        <h4>Touch Prototype Video</h4>
                        <p>G-Dragon - Crayon</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="gallery-item">
                    <div class="gallery-image">
                        <a href="//www.youtube.com/watch?v=7D8CqIQ_reo&width=1024&height=768" class="prettyphoto"><span class="img-hover"> <i class="fa fa-search"></i> </span><img src="//img.youtube.com/vi/7D8CqIQ_reo/0.jpg" alt="" class="img-responsive" /></a>
                    </div>
                    <div class="gallery-content">
                        <h4>Gameplay Video</h4>
                        <p>BoA - Valenti</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="gallery-item">
                    <div class="gallery-image">
                        <a href="//www.youtube.com/watch?v=0fGhGz1zALM&width=1024&height=768" class="prettyphoto"><span class="img-hover"> <i class="fa fa-search"></i> </span><img src="//img.youtube.com/vi/0fGhGz1zALM/0.jpg" alt="" class="img-responsive" /></a>
                    </div>
                    <div class="gallery-content">
                        <h4>Gameplay Video</h4>
                        <p>Beautiful Day - V3 (Beethoven Unleashed)</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
