---
title: Privacy Policy
---
<h2>Privacy Policy</h2>
<p>StepMania AMX has no online features. The application does not connect to any server, does not collect, store, or transmit any personally identifiable information (PII), and does not use cookies or any form of tracking.</p>
<p>This website may use third-party services (such as analytics or comment widgets) that may collect usage data. Please refer to those services' privacy policies for more information.</p>
<p>If you have any questions, feel free to reach out via our <a href="https://www.facebook.com/StepManiaAMX/">Facebook page</a>.</p>
<p><em>Last updated: May 1, 2026</em></p>
