---
title: Política de Privacidad
---
<h2>Política de Privacidad</h2>
<p>StepMania AMX no tiene funcionalidades en línea. La aplicación no se conecta a ningún servidor, no recopila, almacena ni transmite información de identificación personal (PII), y no utiliza cookies ni ningún tipo de rastreo.</p>
<p>Este sitio web puede utilizar servicios de terceros (como analíticas o widgets de comentarios) que podrían recopilar datos de uso. Consulta las políticas de privacidad de dichos servicios para más información.</p>
<p>Si tienes alguna duda, no dudes en contactarnos por nuestra <a href="https://www.facebook.com/StepManiaAMX/">página de Facebook</a>.</p>
<p><em>Última actualización: 1 de mayo de 2026</em></p>
